{{ $address := .Site.Params.address}}
<section class="contact" id="contact">
  <div class="container-fulid">
    <div class="row no-gutters">
      <div class="col-lg-12">
        <div class="contact-aria">
          <div class="container">
            <ul>
              <li> <a href="mailto:{{ $address.email }}">{{ $address.email }}</a></li>
              <li><a href="{{ $address.whatsappLink }}">{{ $address.whatsapp }}</a></li>
            </ul>
            <p>
              {{ $address.openingDesc }}
            </p>
            <p>{{ $address.openingHours }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
