{{define "main"}}
<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto col-md-12">
        <div class="page-header">
          <h2> {{ .Title }}</h2>
          <p>{{.Params.subTitle}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="contact-form">
          <h2>Formulário para contato</h2>
          <form id="contact-form" class="row" netlify>
            <div class="col-md-4">
              <input type="text" class="form-control" id="exampleFormControlInput1" name="Name" placeholder="Nome">
            </div>
            <div class="col-md-4">
              <input type="email" class="form-control" id="validationCustom02" required="" name="email" placeholder="Email">
            </div>
            <div class="col-md-4">
              <input type="tel" class="form-control" id="validationCustom03" required="" name="number" placeholder="(xx) xxxxx-xxxx">
            </div>

            <div class="col-md-12">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" name="message"
                placeholder="Menssagem"></textarea>
            </div>
            <div class="col-md-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="agreeDataCollection" name="checkbox" required>
                <label class="form-check-label" for="agreeDataCollection">
                  Eu concordo que os dados submetidos serão coletados e salvos.
                </label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="agreeTerms" name="checkbox" required>
                <label class="form-check-label" for="agreeTerms">
                  Eu concordo com os <a href="/terms">termos de uso</a> e <a href="/privacy">política de privacidade</a>.
                </label>
              </div>
            </div>
            <div class="col-lg-12">
              <button type="submit" class="btn btn-primary" id="contact-form-button">Enviar mensagem</button>
            </div>
            <p id="contact-form-status"></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
